<div id="myoffice_container">
	<div class="dashboard-header">
		
	</div>

	<div class="dashboard-content">
		{{#if topMessage}}
		<div class="dashboard-top-message {{topMessage.class}}">
			<i class="fa fa-exclamation-triangle"></i>{{topMessage.message}}<!-- {{i18n.myOffice.missingE911Message}} -->
		</div>
		{{/if}}
		<div class="dashboard-content-div dashboard-left-content">
			<div class="dashboard-left-section clearfix">
				<div class="left-section-header" data-category="users">
					<span class="title">{{i18n.userportal.my_settings}}</span>
				</div>
				<div class="left-section-content users-section-content">
					<form>
                <div class="clearfix">
                        <label>{{ i18n.userportal.enable_call_forward }}:</label>
                        <div class="input">
                          <label class="monster-checkbox">
                            {{#if user.call_forward.enabled}}
                                <input class="checkbox" id="call-forward-enabled" name="call_forward.enabled" type="checkbox" checked="checked"
                                /><i></i>
                            {{else}}
                                <input class="checkbox" id="call-forward-enabled" name="call_forward.enabled" type="checkbox"/><i></i>
                            {{/if}}
                          </label>
                         </div>
                     </div>
                    <div id="call-forward-data">
                        <div class="clearfix">
                            <label><span class="icon phone"/>{{ i18n.userportal.forward_calls_to }}:</label>
                            <div class="input">
                                <input id="ring-number-txt" name="ring-number-txt" type="text" value="{{ user.call_forward.number }}"/>
                            </div>
                        </div>
                        <div class="clearfix device-field">
                            <label>{{ i18n.userportal.also_ring_my_voip_phone }}:</label>
                            <div class="input">
                              <label class="monster-checkbox">
                                {{#if user.call_forward.substitute}}
                                    <input class="checkbox" id="ring-device-checkbox" name="ring-device-checkbox" type="checkbox"/><i></i>
                                {{else}}
                                    <input class="checkbox" id="ring-device-checkbox" name="ring-device-checkbox" type="checkbox" checked="checked"/><i></i>
                                {{/if}}
                              </label>
                            </div>
                        </div>
                        <div class="clearfix">
                            <label>{{ i18n.userportal.keep_caller_id }}:</label>
                            <div class="input">
                              <label class="monster-checkbox">
                                {{#if user.call_forward.keep_caller_id}}
                                    <input id="call_forward_keep_caller_id" class="checkbox" name="call_forward.keep_caller_id" type="checkbox" checked="checked"/><i></i>
                                {{else}}
                                    <input id="call_forward_keep_caller_id" class="checkbox" name="call_forward.keep_caller_id" type="checkbox"/><i></i>
                                {{/if}}
                              </label>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <label>{{ i18n.userportal.send_voicemail_to_email }}:</label>
                        <div class="input">
                          <label class="monster-checkbox">
                            {{#if user.vm_to_email_enabled}}
                                <input id="vm-to-email-checkbox" class="checkbox" name="vm-to-email-checkbox" type="checkbox" checked="checked"/><i></i>
                            {{else}}
                                <input id="vm-to-email-checkbox" class="checkbox" name="vm-to-email-checkbox" type="checkbox"/><i></i>
                            {{/if}}
                          </label>
                        </div>
                    </div>
                    <div class="clearfix email-field">
                        <label>{{ i18n.userportal.email_address }}:</label>
                        <div class="input">
                            <input id="vm-to-email-txt" name="vm-to-email-txt" type="text" value="{{user.email}}"/>
                        </div>
                    </div>
                    <div class="buttons">
                        <button id="save-settings-link" class="monster-button monster-button-success save-btn">{{ i18n.userportal.save }}</button>
                    </div>
                </form>
				</div>
			</div>
			<div class="dashboard-left-section clearfix">
				<div class="left-section-header link-box" data-category="devices">
					<span class="title">{{i18n.myOffice.totalDevices}}</span>
					<span class="number">{{totalDevices}}</span>
				</div>
				<div class="left-section-content devices-section-content">
					<div class="devices-chart">
						<canvas id="dashboard_devices_chart" class="pull-left" width="130" height="130"></canvas>
						<div class="devices-chart-legend">
							<ul>
								{{#each devicesList}}
								{{#if label}}
								<li class="legend-element{{#unless count}} no-device{{/unless}}">
									<i class="fa fa-circle legend-color" style="color: {{color}};"></i>
									<span class="legend-label">{{label}}</span>
									<span class="legend-number">{{count}}</span>
								</li>
								{{/if}}
								{{/each}}
							</ul>
						</div>
					</div>
					<div class="unregistered-devices clearfix">
						<div class="value{{#unless unregisteredDevices}} none{{/unless}}">{{unregisteredDevices}}</div>
						<div class="title">{{i18n.myOffice.unregisteredDevices}}</div>
					</div>
				</div>
			</div>
			<div class="dashboard-left-section conf-section clearfix">
				<div class="left-section-header conf-section-header">
					<span class="title">{{i18n.myOffice.totalConfs}}</span>
					<span class="number">{{totalConferences}}</span>
				</div>
			</div>
        </div>
		

		<div class="dashboard-content-div dashboard-left-content">
            <div class="dashboard-left-section clearfix">
                <div class="left-section-header" data-category="users">
				<span class="title">{{i18n.userportal.my_devices}}</span>
                </div>
			</div>
            <div class="help_devices">
                {{ i18n.userportal.registered_devices_are_displayed }}
            </div>
            <div class="list_devices">
            </div>
    			
</div>
		
</div>
